
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 65px); 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.main__content {
  max-width: 1566px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
}
.main__title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 40px;
  color: #57b5ed;
}
.main__text {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 40px;

}

.main__children {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  

}